@charset "utf-8";
body{ 
    background-color: rgb(63, 68, 65);
}
.dt-buttons{
    float: left;
    display: contents;
}
.dataTables_length{
    margin-right: 10px;
} 
.class01 {
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.class02{
    display:flex;
    align-items:center;
    justify-content:center; 
}
.class02 img{
    box-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    2px 2px 2px black;
}

.b01{
    margin:10px 0px 10px 0px;
}
.b02{
    margin:10px 0px 10px 0px;
} 
input[type=checkbox]{
    margin-right: 10px !important; 
}
